<!DOCTYPE html>
<html>
<head>
    <title>404 its cold</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>