<!DOCTYPE html>
<html>
<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>
    <body>
        <div class="main-content">
        {{>header}}
        {{message}}
        </div>
        
        {{>footer}}
    </body>
</html>